/flask-server/venv/
/flask-server/__pycache__/
/flask-server/*.pyc
/flask-server/*.pyo
/flask-server/*.pyd
/flask-server/.Python
/flask-server/pip-selfcheck.json
/flask-server/*.egg-info/
/flask-server/build/
/flask-server/dist/
/flask-server/.env
/flask-server/.flaskenv
/flask-server/*.log

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

*.bak
*.tmp
*.cache

# Vercel
.vercel
/client/dist/